//- Analytics tracking
- var ga = theme.ga
if ga
  script#Cookiebot(src="https://consent.cookiebot.com/uc.js" data-cbid="26d96988-5efc-4aab-9ffe-938fe538fcb4" data-blockingmode="auto" type="text/javascript")
  script(data-cookieconsent="ignore").
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("consent", "default", {
        ad_personalization: "denied",
        ad_storage: "denied",
        ad_user_data: "denied",
        analytics_storage: "denied",
        functionality_storage: "denied",
        personalization_storage: "denied",
        security_storage: "granted",
        wait_for_update: 500
      })
      gtag("set", "ads_data_redaction", true)
      gtag("set", "url_passthrough", false)

  script(async src="https://www.googletagmanager.com/gtag/js?id=" + ga)
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '!{ga}');


meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title 
    block site_title
        = config.title
block description
    meta(name="description", content= config.description ? config.description : 'A Blog Powered By Hexo')

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="icon", href=url_for(theme.favicon))
link(rel="stylesheet", href=url_for("css/apollo.css"))

- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
